.relampago {
  background-color: aquamarine;
  color: whitesmoke;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
}

.relampago h3 {
  font-size: 18px;
}

.relampago img {
  margin-top: 16px;
}

.relampago p {
  font-size: 14px;
  margin-top: 10px;
}

.relampago input {
  padding: 8px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  width: 200px;
}

.relampago button {
  padding: 8px 16px;
  background-color: aquamarine;
  color: azure;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.relampago button:hover {
  background-color: black;
}

.relampago img {
  margin-top: 20px;
}

.relampago div {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 4px;
}

.relampago p {
  font-size: 18px;
  color: black;
}

.relampago button {
  background-color: rgb(0, 255, 170);
  color: azure;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.relampago button:hover {
  background-color: rgb(255, 0, 0);
}